dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
U4/L21/pizza
U4/L22/sum
U4/L22/simple_calc
U4/L22/sum_lazy
U4/L23/bg_highlights
U4/L23/hello_world_text
U4/L23/L23
U4/L23/lazy_IO
.DS_Store
U1/.DS_Store
U2/.DS_Store
U3/.DS_Store
U4/.DS_Store
